language: cpp
compiler:
 - gcc
 - clang
 - g++

before_install:
 - echo "yes" | sudo apt-add-repository ppa:zoogie/sdl2-snapshots
 - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
 - sudo apt-get update -qq
 - sudo apt-get install -y gcc-4.8 g++-4.8 libsdl-* libglm-dev libglew-dev libboost-all-dev libsdl2-dev 
 - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.8 90

branches:
  only:
    - master

script:
 - autoreconf -i
 - ./configure
 - make

notifications:
  email: true

os:
- linux

sudo: true
